# =====================================
# Python
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =====================================
# Virtual Environment
# =====================================

.venv/
venv/
env/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# ChromaDB
# =====================================

chroma_db/

# =====================================
# Logs
# =====================================

logs/

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# OS Files
# =====================================

.DS_Store
Thumbs.db

# =====================================
# Large Models / Embeddings
# =====================================

models/
*.bin
*.gguf

# =====================================
# Misc
# =====================================

*.sqlite3
*.db

# Large datasets
__MACOSX
corpus/structured/pluto_25v4.csv